@page "/addaccount"
@inherits LayoutComponentBase
@using AppBank.Models
@using AppBank.Components
@using AppBank.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="container mt-4">
    <div class="row d-flex mt-3">
        <div class="col-md-3">
            <EditForm Model="@Account">
                <DataAnnotationsValidator />
                <div class="form-group mb-2 mr-2">
                    <InputText @bind-Value="Account.NewCustomerId" class="form-control" id="NewCustomerId" />
                </div>
            </EditForm>
        </div>
        <div class="col-md-8">
            <Button Color="ButtonColor.Light" Outline="true" class="btn btn-block text-nowrap btnn" style="color: #5f615f;" @onclick="AddCustomerIdAction">
                <Icon Name="IconName.PlusCircle" /> Add Customer ID
            </Button>
        </div>

        <div class="col-md-3 mt-1">
            <EditForm Model="@Account">
                <DataAnnotationsValidator />
                <div class="form-group mb-2 mr-2">
                    <div class="input-group">
                        <InputSelect @bind-Value="SelectedCustomerId" class="form-control" id="SelectCustomerId" @onchange="OnCustomerIdChanged">
                            <option value=""> - Select ID - </option>
                            @foreach (var customerId in CustomerIds)
                            {
                                <option value="@customerId">@customerId</option>
                            }
                        </InputSelect>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>

        <div class="col-md-8 mt-1">
            <Button Color="ButtonColor.Light" Outline="true" class="btn btn-block text-nowrap btnn" style="color:#5f615f;" @onclick="ShowCustomerIDAction">
                Customer ID
            </Button>
        </div>
    </div>

    <div class="mt-4" style="padding:0; margin:0;">
        <AvailableAccount SelectedCustomerId="@SelectedCustomerId" />
    </div>
</div>
