@page "/confirmationreview"
@using AppBank.Models;
@using AppBank.Components;


<div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    @if (User != null)
                    {
                        <div>
                            <h5 style="color:dimgrey">User Information</h5>
                            <dl class="row">
                                <div class="col-sm-4">
                                    <dt class="text">First Name:</dt>
                                    <!--<dd class="summary-top">@User.FirstName</dd>-->
                                    <dd class="summary-top">Joshua</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Last Name:</dt>
                                    <!--<dd class="summary-top">@User.LastName</dd>-->
                                    <dd class="summary-top">Onifade</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Middle Name:</dt>
                                    <!--<dd class="summary-top">@User.MiddleName</dd>-->
                                    <dd class="summary-top">Abiodun</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Email:</dt>
                                    <!--<dd class="summary-top">@User.Email</dd>-->
                                    <dd class="summary-top">onifadejoshua15@gmail.com</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Phone No:</dt>
                                    <!--<dd class="summary-top">@User.PhoneNo</dd>-->
                                    <dd class="summary-top">08135576994</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Username:</dt>
                                    <!--<dd class="summary-top">@User.Username</dd>-->
                                    <dd class="summary-top">Samjoda</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Memorable Word:</dt>
                                    <!--<dd class="summary-top">@User.MemorableWord</dd>-->
                                    <dd class="summary-top">Mom</dd>
                                </div>

                                <div class="col-sm-4">
                                    <dt class="text">Delivery Method:</dt>
                                    <!--<dd class="summary-top">@User.DeliveryMethod</dd>-->
                                    <dd class="summary-top">Home Delivery</dd>
                                </div>
                            </dl>
                        </div>
                    }
                </div>

            <div class="col-md-12">
                @if (selectedUser != null)
                {
                    <div>
                        <h5 class="info-title-head">Account Information</h5>
                        <div>
                            <table class="table table-hover table-striped" style="color: grey;">
                                <thead>
                                    <tr>
                                        <th>Account No</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Account Type</th>
                                        <th>Product Type</th>
                                        <th>Permission</th>
                                        <th>Account Limit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in GetStaticUserData())
                                    {
                                        <tr>
                                            <td class="text">@account.AccountNo</td>
                                            <td class="text">@account.AccountName</td>
                                            <td class="text">@account.Currency</td>
                                            <td class="text">@account.AccountType</td>
                                            <td class="text">@account.ProductType</td>
                                            <td class="text">@account.Permission</td>
                                            <td class="text">@account.AccountLimit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

           @if (selectedUserAccounts.Any())
            {
                <div>
                    <h6>Account Information</h6>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Account No</th>
                                <th>Account Name</th>
                                <th>Currency</th>
                                <th>Account Type</th>
                                <th>Product Type</th>
                                <th>Permission</th>
                                <th>Account Limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in selectedUserAccounts)
                            {
                                <tr>
                                    <td class="text">@account.AccountNo</td>
                                    <td class="text">@account.AccountName</td>
                                    <td class="text">@account.Currency</td>
                                    <td class="text">@account.AccountType</td>
                                    <td class="text">@account.ProductType</td>
                                    <td class="text">@account.Permission</td>
                                    <td class="text">@account.AccountLimit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            </div>
        </div>
</div>

