@page "/stepcontrol"
@using AppBank.Models
@using AppBank.Components

<EditForm EditContext="@editContext" OnValidSubmit="@Next" class="wizard-form">
    <Wizard @ref="wizard" Steps="@wizardSteps" OnLastStepCompleted="@OnWizardNext" />
    <ToastNotification />

    <div class="d-flex" style="justify-content:flex-end; margin-top: 3.5rem;">
        <button type="button" class="btn btn-primary btn1" @onclick="Previous" id="prev" disabled="@prevDisabled" style="margin-right:10px; color:#fff;">Previous</button>
        <button type="submit" class="btn btn-primary btn2" id="next" style="margin-left:10px;color: #fff;">Proceed</button>
    </div>
</EditForm>


<style>
    .wizard-form {
        max-width: 100%;
        overflow-x: hidden; 
    }

        .wizard-form .d-flex {
            flex-wrap: wrap; 
        }
</style>