@using AppBank.Interfaces
@inherits ComponentBase
@inject IAlertManager AlertManager
@inject ICoreAccountService CoreAccountService

@if (Steps != null && Steps.Any())
{
    <div class="container-fluid" style=" width: 100%; height: 90vh; padding: 0; margin: 0; box-sizing: border-box; overflow: hidden;">
        <div class="row">
            <div class="col-md-2 side-col">
                <ul class="nav flex-column mt-3">
                    @foreach (var step in Steps)
                    {
                        <li class="nav-item side-link">
                            <small class="form-text text-muted @(ActiveIndex >= step.Index ? "active" : "")">Step @step.Index</small><br />
                            <span class="step-title">@step.Title</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-10 main">
                @if (CurrentStep.ShowTitleInContent)
                {
                    <h5 class="mt-2 main1">@CurrentStep.Title</h5>
                }
                <EditForm EditContext="@editContext" OnValidSubmit="@Next">
                    <DataAnnotationsValidator />
                    <div class="current-step"> @CurrentStep.Content </div>
                </EditForm>
            </div>
        </div>
    </div>
}
